[submodule "themes/lugo"]
	path = themes/lugo
	url = https://github.com/LukeSmithxyz/lugo.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
